<header class="page-header">
  <div class="container page-header-container">
    <img
      class="header-logo-images"
      src="../img/logo/logo.svg"
      alt="Vishivanka_ornament"
      class="header-logo"
      width="44"
      height="39"
    />

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="" class="header-item-link">About us</a>
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-item-link">Our collection</a>
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-item-link">Customer order</a>
        </li>
        <li class="header-nav-list-item">
          <a href="" class="header-item-link">Testimonials</a>
        </li>
      </ul>
    </nav>
    <address class="header-contact-data">
      <ul class="header-contact-list">
        <li class="header-contact-data-list-item">
          <a href="tel:+380684439426" class="header-cnt-data-link-tel"
            >+380 (68) 443-94-26</a
          >
        </li>
      </ul>
    </address>
    <div class="header-social-container">
      <ul class="header-social-list">
        <li class="header-social-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-cnt-data-link"
          ></a>
        </li>
        <li class="header-social-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-cnt-data-link"
          ></a>
        </li>
        <li class="header-social-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-cnt-data-link"
          ></a>
        </li>
      </ul>
    </div>
    <button class="mobile-open-btn" type="button">
      <svg class="mobile-open-btn-icon">
        <use></use>
      </svg>
    </button>
  </div>
</header>
