<header class="page-header">
  <div class="container page-header-container">
    <img
      class="header-logo-images"
      src="../img/logo/logo.svg"
      alt="Vishivanka_ornament"
      width="44"
      height="39"
    />

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="#about-us" class="header-item-link">About us</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#our-collection" class="header-item-link">Our collection</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#your-order" class="header-item-link">Customer order</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#testimonials" class="header-item-link">Testimonials</a>
        </li>
      </ul>
    </nav>
    <address class="header-contact-data">
      <ul class="header-contact-list">
        <li class="header-contact-data-list-item">
          <a href="tel:+380684439426" class="header-cnt-data-link-tel"
            >+380 (68) 443-94-26</a
          >
        </li>
      </ul>
    </address>
    <div class="header-social-container">
      <ul class="header-social-list">
        <li class="header-social-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-cnt-data-link"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-cnt-data-link"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list-item">
          <a href="https://www.youtube.com/c/GoIT" class="header-cnt-data-link"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button
      class="mobile-open-btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-open-btn-icon" width="36" height="24">
        <use href="../img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="mobile-menu-container">
      <div class="mobile-menu-header">
        <address class="mobile-menu-contact-data">
          <ul class="mobile-menu-contact-list">
            <li class="mobile-menu-address-list-item">
              <a href="tel:+380684439426" class="mobile-menu-address-link"
                >+380 (68) 443-94-26</a
              >
            </li>
          </ul>
        </address>
        <button class="mobile-close-btn js-close-menu" type="button">
          <svg class="btn-close-icon" width="18" height="18">
            <use href="../img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-list-item">
            <a href="#about-us" class="mobile-menu-item-link">About us</a>
          </li>
          <li class="mobile-menu-nav-list-item">
            <a href="#our-collection" class="mobile-menu-item-link">Our collection</a>
          </li>
          <li class="mobile-menu-nav-list-item">
            <a href="#your-order" class="mobile-menu-item-link">Customer order</a>
          </li>
          <li class="mobile-menu-nav-list-item">
            <a href="#testimonials" class="mobile-menu-item-link">Testimonials</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
