<section class="section-collection ">
    <div class="collection-box container">
        <h2 class="collection-head" id="our-collection">Our collection</h2>
        <ul class="collection-list">
            <li class="collection-scr">
                <picture>
                    <source media="" srcset="">
                <img src="" 
                alt=""
                width=""
                height="">
                </picture>
                <div class="collection-info">
                <h3 class="collection-info-head">AUGUST Poltava women's blouseRING</h3>
                <p class="collection-info-price">3300 UAH</p>
                </div>
            </li>
            <li class="collection-scr">
                <picture>
                    <source media="" srcset="">
                <img src="" 
                alt=""
                width=""
                height="">
                </picture>
                <div class="collection-info">
                <h3 class="collection-info-head">Women's blouse Gorgany</h3>
                <p class="collection-info-price">3350 UAH</p>
                </div>
            </li>
            <li class="collection-scr">
                <picture>
                    <source media="" srcset="">
                <img src="" 
                alt=""
                width=""
                height="">
                </picture>
                <div class="collection-info">
                <h3 class="collection-info-head">Women's blouse Crimea</h3>
                <p class="collection-info-price">4000 UAH</p>
                </div>
            </li>
            <li class="collection-scr">
                <picture>
                    <source media="" srcset="">
                <img src="" 
                alt=""
                width=""
                height="">
                </picture>
                <div class="collection-info">
                <h3 class="collection-info-head">Men's shirt Verkhovina</h3>
                <p class="collection-info-price">3100 UAH</p>
                </div>
            </li>
            <li class="collection-scr">
                <picture>
                    <source media="" srcset="">
                <img src="" 
                alt=""
                width=""
                height="">
                </picture>
                
                <div class="collection-info">
                <h3 class="collection-info-head">Mountain men's shirt</h3>
                <p class="collection-info-price">3300 UAH</p>
                </div>
            </li>
            <li class="collection-scr">
                <picture>
                    <source media="" srcset="">
                <img src="" 
                alt=""
                width=""
                height="">
                </picture>
                
                <div class="collection-info">
                <h3 class="collection-info-head">Men's shirt Yasen</h3>
                <p class="collection-info-price">1700 UAH</p>
                </div>
            </li>
        </ul>
    </div>
</section>