


<section class="hero">
    <div class="container">
        <h1 class="hero-title">Reviving the traditional <span class="hero-accent">Ukrainian</span> artistry in every stitch.</h1>
        <button class="hero-btn" type="button">Order</button>
        <svg></svg>
        <picture class="hero-image">
            <source srcset="../img/hero/desktop-hero-girl-min.jpg 1x, ../img/hero/desktop-hero-girl@2x-min.jpg 2x" media="(min-width: 1158px)" />
            <source srcset="../img/hero/tablet-hero-girl-min.jpg 1x,../img/hero/tablet-hero-girl@2x-min.jpg 2x" media="(min-width: 768px)" />
            <source srcset="../img/hero/mobile-hero-girl-min.jpg 1x, ../img/hero/mobile-hero-girl@2x-min.jpg 2x" media="(max-width: 767px)" />
            <img src="../img/hero/desktop-hero-girl@2x-min.jpg 2x" width="" height="" alt="girl in shirt" />
          </picture>
    </div>
</section>