


<section class="hero">
    <div class="container hero-container">
      <div class="paragraph-with-button">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-accent">Ukrainian</span> artistry in every stitch.
        </h1>
        <button class="hero-btn" type="button">
          Order
          <svg class="hero-btn-icon" width="24" height="16">
            <use href="/img/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="hero-star-container">
          <svg class="hero-icon-star" width="52" height="51">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
          <p class="hero-star-comment">all embroidery is made by hand</p></div>
        <picture>
          <source
            srcset="
              /img/hero/desktop1440-hero-girl-min.jpg    1x,
              /img/hero/desktop1440-hero-girl@2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/hero/desktop-hero-girl-min.jpg    1x,
              /img/hero/desktop-hero-girl@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/hero/tablet-hero-girl-min.jpg    1x,
              /img/hero/tablet-hero-girl@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/hero/mobile-hero-girl-min.jpg    1x,
              /img/hero/mobile-hero-girl@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="hero-image"
            src="/img/hero/desktop-hero-girl@2x-min.jpg 2x"
            width=""
            height=""
            alt="girl in shirt"
          />
        </picture>
    </div>
  </section>