*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #fcf9f9;
  background-color: #1c2225;
  font-family: 'Manrope', sans-serif;
  display: flex;
}
html {
  scroll-behavior: smooth;
}
section {
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  section {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  section {
    padding-bottom: 150px;
  }
}
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
