*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  width: auto;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 100px;
  }
}
