.about-section {
  display: flex;
  justify-content: center;
}
.container {
  width: 335px;
}
.about-section-content {
  display: flex;
  flex-direction: column;
}

.about-nema {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}

.about-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}
.about-picture {
  position: relative;
  border-radius: 4px;
  width: 335px;
  height: 499px;
  margin-top: 50px;
}
.about-picture::before {
  content: '';
  position: absolute;
  width: 495px;
  height: 408px;
  background-image: url(../img/ornament/ornament-yellow.png);
  background-size: cover;
  top: auto;
  bottom: -50px;
  left: 20px;
  right: auto;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .about-section-content {
    width: 704px;
  }
  .about-nema {
    font-weight: 500;
    font-size: 44px;
    line-height: 64px;
    line-height: 1.45455;
    letter-spacing: -0.03em;
    color: #fcf9f9;
  }
  .about-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
  }
  .about-picture {
    width: 704px;
    height: 545px;
  }
}
@media screen and (min-width: 1280px) {
  .about-section-content {
    flex-direction: row;
    width: 1180px;
  }

  .about-nema-menu {
    display: flex;
    flex-direction: column;
    margin: 78.5px 50px 78.5px 0;
    width: 536px;
  }
  .about-menu {
    width: 536px;
    height: 100%;
  }
  .about-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
  }
  .about-text-store {
    width: 508px;
  }

  .about-picture {
    display: block;
    margin: 0;
    width: 594px;
    height: 545px;
  }
}
