.hero {
    padding-top: 84px;
    padding-bottom: 80px;
}



.hero-title {
    font-weight: 400;
font-size: 44px;
line-height: 1.09;
letter-spacing: -0.03em;
color: #fcf9f9;
margin-bottom: 20px;
}

.hero-accent {
    color: #ecd979;
}

.hero-star-container {
    display: none;
}
.hero-icon-star {
    align-items: center;
    justify-content: center;
    fill: #ecd979;
    margin-bottom: 16px;
}
.hero-star-comment {
    font-weight: 400;
font-size: 16px;
letter-spacing: -0.04em;
text-align: center;
color: rgba(252, 249, 249, 0.4);
}

.hero-btn {
    border: 1px solid rgba(252, 249, 249, 0.1);
border-radius: 15px;
background-color: transparent;
font-weight: 600;
font-size: 14px;
letter-spacing: -0.04em;
text-transform: uppercase;
color: #fcf9f9;
width: 154px;
height: 49px;
margin-left: 90px;
margin-bottom: 40px;
}

.hero-btn:focus,
.hero-btn:hover,
.hero-btn:active{
    border: 1px solid #ecd979;
}

.hero-btn-icon{
    margin-left: 10px;
    fill: #ecd979;
    align-items: center;
    justify-content: center;   


}

.hero-image {
    border-radius: 4px;
    width: 335px;
height: 545px;
}

@media screen and (min-width:768px){
    .hero{
        display: inline-block;

}

.hero-top-container{
display: inline;
}

.hero-title {
font-size: 54px;
line-height: 1.19;
width: 549px;
margin-bottom: 40px;
}

.hero-star-container{
    flex-direction: row;
    display: contents;
    position: absolute;
}


.hero-star-comment {
    width: 115px;
}

.hero-btn {
    font-size: 16px;
    width: 168px;
    height: 50px;
    margin-left: 173px;
    margin-bottom: 46px;
}

.hero-image {
    width: 413px;
    height: 575px;
}
}

@media screen and (min-width:1280px){


    .hero-image{
        width: 392px;
        height: 545px;

    } 
}