/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./common.css');

@import url('./reset.css');
@import url('./vite-promo.css');

@import url('./header.css');

@import url('./section-hero.css');
@import url('./section-about.css');
@import url('./section-collection.css');
@import url('./section-order.css');
@import url('./section-testimonials.css');

@import url('./footer.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
